body {
  background-color: lightgray;
  font-size: 18px;
}
h1 {
  font-size: 100px;
  font-weight: 900;
  background-color: lightcoral;
  color: #fff;
}
p {
  font-size: xx-large;
  background-color: lightsalmon;
  color: aliceblue;
}
a {
  text-decoration: none;
  border: 5px solid lightpink;
  color: lightsalmon;
}
